$color-vinculo: black;
$color-vinculo-hover:rgb(153, 26, 26);
$color-fondo-boton: rgb(194, 197, 194);
$color-texto-boton:rgb(255, 250, 250);
$color-fondo-seccion: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
$color-fondo-tituloPrincipal: #d5d0e5;
$color-shadow: rgb(184, 181, 181);
$color-fondo-textoGaleria: rgba(255, 255, 255, 0.555);
$color-fondo-seccionNosotros: rgba(252, 249, 249, 0.5);
$color-shadow-servicios: rgba(211, 211, 211, 0.76);
$color-texto-footer: white;
$color-fondo-footer: #232323;
$color-fondo-seccionPrincipal: rgba(118, 118, 127, 0.5);