@import "../assets/colores";
@import "../assets/sizes";

main{
  .container-fluid{
    .row{
      .titulo_principal2{
        background-color: $color-fondo-seccionPrincipal;
        color: white;
        margin-bottom: 0;
      }
    }
  }
  #floatingTextarea {
    height: 150px;
  }
  label {
    font-size: $size-1-3;
    padding-top: 0;
    letter-spacing: 2px;
  }
  .form-control,
  .btn {
    letter-spacing: 2px;
  }
  .btn{
    &:hover{
      color: $color-vinculo-hover;
    }
  }
}
